<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
 <button>

  
 </button>
</body>

</html>

<script>
    // const oldarray = ['xaan', 'amaan', 'bisru', 'mewat']
    // // const newarray = oldarray.map((item, index) => item + index)
    // const newarray = oldarray.map(function (value) {
    //     return value;
    // })
    // console.log(newarray)

//     const products = [
//   {
//     id: 1,
//     name: "Product 1",
//     price: 10.99,
//     category: "Electronics",
//   },
//   {
//     id: 2,
//     name: "Product 2",
//     price: 19.99,
//     category: "Clothing",
//   },
//   {
//     id: 3,
//     name: "Product 3",
//     price: 5.99,
//     category: "Home Decor",
//   },
// ];
// const pro = products.map((value)=>{
//     return `I am the ${value.name} and my price is ${value.price} and i deserve to be in this category ${value.category}`
// })
// console.log(pro)  


</script>